@media screen and (max-width: 400px) {
  .nav .container {
    width: 100%;
    flex-wrap: wrap;
  }
  .nav .container .right {
    flex-wrap: wrap;
  }
  .box .container {
    width: 100%;
  }
  /* //// */
  .box .container .center {
    font-size: 10px;

  }
  /* ///// */
  .card .container {
    width: 100%;
  }
 
  /* //// */
  .cards .container {
    width: 100%;
  }
  .cards .container .boxses {
    font-size: 10px;

  }
  /* ///////// */
  .three {
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;

    text-transform: uppercase;
    font-weight: normal;
    color: rgb(255, 255, 255);
  }
  .three .container {
    width: 100%;
    flex-wrap: wrap;
  }
  /* /////////// */
  .forro .container {
    width: 100%;
  }
  .forro .container .mom {
    font-size: 10px;
  }
  .forro .container .mom img {
 width: 300px;
    }
    
  /* ///////////// */
  /* .nav .container .right {
  display: none;
}
  .icon2 {
    display: block;
  }
   .active {
    display: block;
  }
  .active2 {
    display: none;
  } */
}


/* ///////////////////////////////////// */
@media screen and (min-width: 401px) and (max-width:768px){
  .nav .container {
    width: 100%;
    flex-wrap: wrap;
  }
  .nav .container .right {
    flex-wrap: wrap;
  }
  .box .container {
    width: 100%;
  }
  /* //// */
  .box .container .center {
    font-size: 10px;

  }
  /* ///// */
  .card .container {
    width: 100%;
  }
  .card .container .modalka {
    width: 100%;
    height: auto;
    background-color: rgba(46, 45, 45, 0.397);
  
  }
  /* .card .container .modalka .quti img {
    width: 350px;
    height: 300px;
  } */
  /* //// */
  .cards .container {
    width: 100%;
  }
  .cards .container .boxses {
    font-size: 10px;
    padding: 10px;
  }
  /* ///////// */
  .three {
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
   
    text-transform: uppercase;
    font-weight: normal;
    color: rgb(255, 255, 255);
  }
  .three .container {
    width: 100%;
    flex-wrap: wrap;
  }
  /* /////////// */
  .forro .container {
    width: 100%;
  }
  .forro .container .mom {
    font-size: 10px;
  }
  .forro .container .mom img {
 width: 100px;
    }
    }
